// Put your theme variable overrides here.
// See https://johtela.github.io/lits-template/components/common/theme.html for more information.

@color-primary: #dbe6e6;
@color-secondary: #ff2a2a;

@nav-align: bottom;
@nav-button-radius: 2px;
@nav-button-justify: center;
@nav-horz-padding: 24px;
