// Put your theme variable overrides here.
// See https://johtela.github.io/lits-template/components/common/theme.html for more information.
@google-fonts: "Noto+Sans+JP:400,600|Sanchez:400,400i|Roboto+Mono:400;700";
@sans-font: "Noto Sans JP";
@serif-font: "Sanchez";
@mono-font: "Roboto Mono";

@color-primary: #dbe6e2;
@color-secondary: #fc4545;

@nav-align: bottom;
@nav-button-radius: 2px;
@nav-button-justify: center;
@nav-horz-padding: 24px;

@cnt-font-size: 17px;

@tooltip-color: @color-black;
@tooltip-bg-color: @color-primary-dark;
@tooltip-border-color: @color-primary;